*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calandar-container{
    background-color: lightblue;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendar-content{
    width: 350px;
    text-align: center;
}
.calendar-month{
    background-color: red;
    padding-block: 12px;
}
.calendar-date{
    background-color: white;
    padding-block: 12px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}